# Virtual environment folder
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo

# VSCode settings folder (optional)
.vscode/

# OS files (macOS, Windows)
.DS_Store
Thumbs.db

# Txt files
notes.txt
admin_notes.txt
test_inputs.txt

# py files
ignore.py

# Ignore data files
prompts/scheduler_prompt.txt
prompts/scheduler_prompt_v2.txt
prompts/scheduler_prompt_v4.txt